* {
    box-sizing: border-box;

}
.body {
    background-color: rgb(37, 37, 37);
}    
.container {
    max-width: 1440px;
    margin: auto;
    background-color: antiquewhite;
}
.Jun {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item {
    font-weight: bold;
}  
.nav-list {

    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.photo {
    display: flex;
    justify-content: end;
    margin: 10px;
}
.hr-line {
    color: rgb(247, 252, 252);
    margin:0 auto;
    padding: 40px;
    border: none;
    background: linear-gradient(45deg, #333, #ffffff);
}
.Contacts {
        text-align: center;
        margin:0 auto;
        padding: 40px;
        border: none;
        border-bottom: 1px solid #333;
}
.phone {
    font-size: 20px;
    font-weight: bold;
}
.Certificates {

        text-align: center;
        margin:0 auto;
        padding: 40px;
        border: none;
        border-bottom: 1px solid #333; 
}
.education {
        text-align: center;
        margin:0 auto;
        padding: 40px;
        border: none;
        border-bottom: 1px solid #333;   
} 
.Cert {
    margin-left: 30px;
}
.Mitso {
        text-decoration: underline;
        margin:0 auto;
}
.edu {
    margin-left: 30px;
}
.Skills {
        text-align: center;
        margin:0 auto;
        padding: 50px;
        border: none;
        border-bottom: 1px solid #333;
}
.SkillsL {
    font-weight: bold;
}
.Instruments {
    text-align: center;
    margin: 0 auto;
    padding: 40px;
    border: none;
    font-weight: bold;
    border-bottom: 1px solid #333;   
}
.InstrumentsLi {
    font-weight: bold;
}
    
.SoftSkills {
    text-align: center;
    margin:0 auto;
    padding: 40px;
    height: 0;
    border: none;
    border-bottom: 1px solid #333;
}
.Softy {
    font-weight: bold;
}
.Languages {
    text-align: center;
    margin:0 auto;
    padding: 40px;
    height: 0;
    border: none;
    border-bottom: 1px solid #333;
}
.lang {
    margin-left: 30px;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(247, 252, 252);
    margin:0 auto;
    padding: 40px;
    height: 6px;
    border: none;
    background: linear-gradient(45deg, #333, #ffffff);
}
.year {
    padding: 15px;
}
